
<h3>{{message}}</h3>
<form method="post" action=""> 
	<center>
	add an artwork: <br> <br>

	<textarea name="str" cols="40" rows="5"></textarea><br><br><br>

	date:
	<input type="text" name="dt" >
	title:
	<input type="text" name="title">
	tags:
	<input type="text" name="tags"> <br> <br>
	<input type="submit" value="input" style="width: 150px; height: 150px;"> <br><br>
	</center>

</form>

<p>-----------------------------<br><br><a href="/">Home</a></p>


