<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <h1> <center><img src="img/logo.jpg" height = 275 width =200 > <br>ascii-sketchbook<br></center> </h1>
  <title>ascii sketchbook</title>
  <link rel="stylesheet" href="./css/base.css?v=1.0">

</head>
<body>
	 {{{body}}}
</body>
</html>