body {
    background-color: lightgreen;
}

h1 {
    color: black;
    font-family: Courier;
}

p {
	line-height: .2;
}

pre {
	line-height: .2;
	word-spacing: 15px;
	font-size: 16px;
}

.bold {
	font-weight: bold
}

.hidden {
	display: none;
}

.overlay {
	color: red;
	position:fixed; 
	top: 10px; 
	right: 10px;
	z-index: 100;
	background: yellow;
}

.pin {
	text-decoration-line: underline;
}