<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <h1> <center>  <img src="img/ascii-art.jpg" height = 300 width =200 > <br> ascii sketchbook </center> </h1>
  <title>ascii sketchbook</title>
  <link rel="stylesheet" href="./css/base.css?v=1.0">

</head>
<body>
	  <h1> {{message}} </h1>
	  <p> {{subheading}} </p>
	  {{{body}}}
</body>
</html>